<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
</head>
<body style='text-align:center;padding-top:200px;background-color:yellow;'>

	<button style='padding:20px 50px;font-size:40px;' ><a href='/register'>REGISTER</a></button><br><br>
	<button style='padding:20px 50px;font-size:40px;' ><a href='/registration'>REGISTRATION DETAILS</a></button>
</body>
</html> 