<!DOCTYPE html>
<html>
<head>

	<title>REGISTRATION PAGE</title>
	<link href='/css/styleregistration.css' type="text/css" rel='stylesheet'>
</head>
<body style='text-align:center;'>
<h1>WELCOME FOR REGISTRATION</h1>
<form id='registration-form' style='font-size:20px;' method="POST" action="/register" onsubmit="alert('Data added successfully');">
	<div>NAME:  <input type='text' name='name' placeholder='Full name' required><br></div>
	<div>EMAIL:  <input type='email' name='email' placeholder='something@domain.com' required>	<br></div>
	<div>MOB NO:  <input type='number' name='mob' placeholder='mobile number' required><br></div>
	<div>DATE OF BIRTH:  <input type='date' name='dob' placeholder='DD-MM-YYYY' required><br></div>
	
	

	<div><input type='submit' value='submit'></div>
</form>
</body>
</html>

